{% load static %}
<center>

<img src = "{% static 'images/pokemon/'%}{{ pokemon.id }}.png">
<br>
#{{ pokemon.id }} {{ pokemon.name }}
<br>
{% if pokemon.caught %}
(Caught)
{% else %}
(Uncaught)
{% endif %}
<br>
You have {{ pokemon.numInBag }} of these in your bag.
{% if pokemon.evolvesFrom != 0 %}
    <br>
    Evolves From: <a href="{% url 'poketracker:detail' pokemon.evolvesFrom %}">#{{ pokemon.evolvesFrom }} {{ pokemon.evolvesFromName }}</a>
    <br>
    You have {{ pokemon.numCandies }} of {{ pokemon.candiesToEvolve }} required candies.
{% endif %}

</center>