{% load static %}
<center>

{% for pokemon in pokemon_list %}
    <img src = "{% static 'images/pokemon/'%}{{ pokemon.id }}.png">
    <br>
    <a href="{% url 'poketracker:detail' pokemon.id %}">#{{ pokemon.id }} {{ pokemon.name }}</a>
    <br>
    {% if pokemon.caught %}
    (Caught)
    {% else %}
    (Uncaught)
    {% endif %}
    <br>
    You have {{ pokemon.numInBag }} of these in your bag.
    {% if pokemon.evolvesFrom != null %}
        <br>
        Evolves From: <a href="{% url 'poketracker:detail' pokemon.evolvesFrom.id %}">#{{ pokemon.evolvesFrom.id }} {{ pokemon.evolvesFrom.name }}</a>
        <br>
        You have {{ pokemon.numCandies }} of {{ pokemon.candiesToEvolve }} required candies.
    {% endif %}
    <p>
{% endfor %}

</center>