{% load static %}
<center>

{% for pokemon in pokemon_list %}
    <img src = "{% static 'pokemon/images/pokemon/'%}{{ pokemon.id }}.png">
    <br>
    <a href="{% url 'pokemon:detail' pokemon.id %}">#{{ pokemon.id }} {{ pokemon.name }}</a>
    <br>
    {% if pokemon.caught %}
    (Caught)
    {% else %}
    (Uncaught)
    {% endif %}
    <br>
    You have {{ pokemon.num_in_bag }} of these in your bag.
    {% if pokemon.evolves_from != null %}
        <br>
        Evolves From: <a href="{% url 'pokemon:detail' pokemon.evolves_from.id %}">#{{ pokemon.evolves_from.id }} {{ pokemon.evolves_from.name }}</a> ({{ pokemon.evolves_from.num_in_bag }} in your bag)
        <br>
        You have {{ pokemon.base_evolution.candy.num_candies }} of {{ pokemon.candies_to_evolve }} required {{ pokemon.base_evolution.name}} candies.
    {% endif %}
    <p>
{% endfor %}

</center>